@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    /* background: url("img/background.jpg")no-repeat center fixed; */
    /* background: url(images/bg.jpg) ;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-size: cover; */
/* background-image: url("img/pexels-gabriel-peter-696644.jpg");
background-size: contain;
background-repeat:no-repeat; */
}

.navimg{
/* size: inherit;  */
/* width: 55%;
height: 55%;
display: flex;
align-items: flex-start;
background-size: cover; */
/* block-size:  ; */
 
background-size:90px 90px;
padding-top: -55vh;
display: block;
 margin-left: auto;
 margin-right: auto; 

width: 25%;
}
 .header{
    
    background-color: rgba(69, 103, 138, 0.801);
} 

.logo{
    width: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logo img{
    width: 55vh;
    opacity: 60%;
    /* height: auto; */
}
.navbar{
    /* display: flex;
    
    
    background-color: wheat;
    background-blend-mode: normal; */
    /* background-image: url("..img/lauren-mancke-aOC7TSLb1o8-unsplash.png"); */
    
    position: relative;
    display: flex;
    height: 50%;
}

/* background-image: url("img/laptop.png"); */
/* .navbar::before{
    content: ' ';
    display: block;
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position:57%;
    background-size:cover;
    background-repeat: no-repeat;
    opacity:70%;
    mix-blend-mode:inherit;
} */
.navigation{
    margin: 0px -0.2% 0% -1%;
    background-color: rgba(0, 0, 0, 0.993);
    height: 10vh; 
     width: 100%;

}
.nav_buttons{
    display: flex;
    justify-content: left;
    /* position: sticky; */
    position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color:rgba(69, 103, 138, 0.801) ;
}
.nav,.login_btn{
    text-decoration: none;
    list-style: none;
}

.navbar{
    padding-left: 20vw;
    display: flex;
    justify-content: center;
}
.btn{
    margin: 1vw;
}
/* background-color: blue; */
/* width: 50%; */
/* margin-bottom: 2vh; */
/* padding-right: 1vw;
padding-top: 1vh; */

/* .rightnav{
    text-align: left;
    margin-left: 5vw;
    margin-bottom: 8vh;
    display: block;
} */
.btn::placeholder{
 
    color: rgb(58, 44, 44);
}

.btn{
    /* font-family: 'Poppins', sans-serif; */

    /* font-family: 'Poppins', sans-serif; */
    /* font:bold; */
    /* font-family: 'Poppins', sans-serif; */
    /* background-color:rgb(253, 255, 255); */
    /* background-color: rgba(34, 50, 66, 0.993); */
    font-family: 'Montserrat', sans-serif;
    /* background-color: transparent; */
    width: 250px;
    height: 70px;
    opacity: 60%;
    font:bold;
border-style: hidden;
font-size: 30px;
    /* border-radius: 20px; */
    /* box-shadow:1px 0px 15px 8px rgb(87, 76, 76); */
    transition-duration: 0.9s;
    /* border-color: none; */
    /* width:200px; */
    /* height:200px; */
    /* margin-left:100px; */
    /* box-shadow: ; */
}

  /* a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }
   */
  .btn{
    color: rgb(28, 47, 58);
    /* text-transform: uppercase; */
    /* text-decoration: none; */
    /* letter-spacing: 0.15em; */
    
    /* display: inline-block; */
    /* padding: 15px 20px; */
    /* position: relative; */
   }
  .btn:after{

    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    /* position: absolute; */
    background: rgba(90, 94, 110, 0.747);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
 .btn:hover:after{
    width: 100%; 
    left: 0; 
  }
#search{
 border: 1px solid rgb(75, 50, 50);
 border-radius: 4px;
}
